In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
data='../data/'

In [3]:
ipsc_trans = pd.read_csv(data+'ips_tpm.csv')
ipsc_trans.head()

,Unnamed: 0,A1BG,A1CF,A2M,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,AAAS,...,ZYX,ZZEF1,ZZZ3,bP-21201H5.1,hsa-mir-1199,hsa-mir-150,hsa-mir-6723,hsa-mir-7162,hsa-mir-8078,yR211F11.2
0,HPSI1213i-xuja_2,21.10,0.05,2.35,1.59,0.57,0.0,3.89,0.00,66.48,...,122.77,9.64,45.99,0.0,0.98,0.00,6.49,0.02,0.00,0.0
1,HPSI0614i-voce_2,7.71,0.03,1.47,4.97,0.17,0.0,18.68,0.02,60.88,...,140.62,10.98,47.45,0.0,0.81,0.03,0.97,0.00,0.09,0.0
2,HPSI0814i-doao_2,19.51,0.11,1.27,2.48,0.41,0.0,14.46,0.03,69.83,...,135.81,7.13,34.16,0.0,1.97,0.00,10.02,0.12,0.00,0.0
3,HPSI0314i-sojd_3,17.89,0.02,0.90,3.83,0.16,0.0,10.17,0.00,64.00,...,107.31,8.47,30.73,0.0,2.67,0.05,4.31,0.00,0.19,0.0
4,HPSI0114i-lexy_2,14.99,0.01,0.33,1.30,0.05,0.0,3.97,0.03,56.34,...,142.51,5.30,33.03,0.0,0.42,0.05,3.83,0.03,0.00,0.0

In [4]:
ipsc_trans.shape

(330, 35050)

In [5]:
fib_trans = pd.read_csv(data+'fib_tpm.csv.gz', compression='gzip')
fib_trans.head()

,Unnamed: 0,DDX11L1,WASH7P,MIR6859-1,MIR1302-2HG,FAM138A,OR4G4P,OR4G11P,OR4F5,RP11-34P13,...,MT-ND4,MT-TH,MT-TS2,MT-TL2,MT-ND5,MT-ND6,MT-TE,MT-CYB,MT-TT,MT-TP
0,GTEX-111VG-0008-SM-5Q5BG,0.0,1.00,0.0,0.00,0.00,0.08,0.07,0.00,0.00,...,15560.0,4.57,0.00,0.00,3557.0,4290.0,7.32,8907.0,0.00,2.78
1,GTEX-111YS-0008-SM-5Q5BH,0.0,1.25,0.0,0.00,0.00,0.06,0.06,0.06,0.03,...,12120.0,0.00,0.00,1.51,3207.0,3538.0,14.75,7247.0,0.81,0.00
2,GTEX-1122O-0008-SM-5QGR2,0.0,0.79,0.0,0.00,0.05,0.00,0.07,0.00,0.06,...,14010.0,0.95,0.00,0.92,5065.0,6243.0,26.53,7955.0,0.99,0.00
3,GTEX-1128S-0008-SM-5Q5DP,0.0,1.25,0.0,0.00,0.00,0.05,0.09,0.04,0.00,...,17170.0,0.00,0.69,0.00,5572.0,6290.0,27.66,8769.0,3.69,1.79
4,GTEX-113IC-0008-SM-5QGRF,0.0,2.44,0.0,0.07,0.00,0.07,0.00,0.00,0.03,...,14030.0,0.00,0.00,0.00,4072.0,6515.0,25.55,9704.0,1.72,0.84

In [7]:
# get most expressed tfs
top_genes = pd.read_csv(data+'top20tf_ens.csv')

In [8]:
top_genes.head()

  Gene name   Gene stable ID
0     HMGA1  ENSG00000137309
1    LIN28A  ENSG00000131914
2     TERF1  ENSG00000147601
3     ZFP42  ENSG00000179059
4   ZSCAN10  ENSG00000130182

In [21]:
top_tnames = top_genes['Gene name'].tolist()
top_tnames

['HMGA1',
 'LIN28A',
 'TERF1',
 'ZFP42',
 'ZSCAN10',
 'HMGA2',
 'SALL4',
 'OTX2',
 'ETV4',
 'NR6A1',
 'LIN28B',
 'HES3',
 'ZIC3',
 'NANOG',
 'ZNF93',
 'FOXH1',
 'MYCN',
 'ZNF730',
 'PRDM14',
 'SOX11']

In [8]:
ipsc_tnames = ipsc_trans.columns
fib_tnames = fib_trans.columns
common_tnames = ipsc_tnames.intersection(fib_tnames)

In [9]:
classifier_tnames = common_tnames[1:20]
classifier_tnames

Index(['A1BG', 'A1CF', 'A2M', 'A2ML1', 'A2MP1', 'A3GALT2', 'A4GALT', 'A4GNT',
       'AAAS', 'AACS', 'AACSP1', 'AADAC', 'AADACL2', 'AADACL3', 'AADACL4',
       'AADAT', 'AAED1', 'AAGAB', 'AAK1'],
      dtype='object')

In [17]:
fib_20 = fib_trans[top_tnames]
ipsc_20 = ipsc_trans[top_tnames]

In [18]:
fib_20['label'] = 0
ipsc_20['label'] = 1
data_20 = fib_20.append(ipsc_20, ignore_index=True)
data_shuffled = data_20.sample(frac=1)

/Users/joshua.price/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/joshua.price/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
data_shuffled.shape

(430, 21)

In [22]:
data_shuffled.head()

,HMGA1,LIN28A,TERF1,ZFP42,ZSCAN10,HMGA2,SALL4,OTX2,ETV4,NR6A1,...,HES3,ZIC3,NANOG,ZNF93,FOXH1,MYCN,ZNF730,PRDM14,SOX11,label
169,1587.27,1044.94,662.10,126.73,83.94,111.35,112.41,177.76,34.46,80.75,...,126.61,116.01,69.33,71.73,62.34,51.11,45.06,47.76,41.36,1
339,1540.18,634.57,433.43,108.65,176.40,95.04,77.64,60.28,103.57,78.27,...,83.13,88.69,66.72,54.03,51.11,75.56,27.06,22.70,21.30,1
302,533.02,793.22,626.92,89.17,129.40,89.98,54.63,120.68,39.58,37.59,...,75.85,50.21,37.75,42.81,42.80,69.11,30.40,14.46,33.40,1
211,1594.19,875.67,551.73,121.75,124.02,128.75,82.71,87.91,104.45,97.55,...,52.48,37.87,82.76,74.95,45.27,49.29,48.83,19.60,36.43,1
212,2042.22,1054.12,995.06,138.62,134.69,94.38,131.21,169.79,42.00,83.17,...,116.00,107.63,64.40,73.61,84.16,55.10,40.33,90.62,29.92,1

In [23]:
train_set = data_shuffled.iloc[:287,:]
test_set = data_shuffled.iloc[287:,:]

In [24]:
X_train = train_set.iloc[:,:-1]
y_train = train_set.iloc[:,-1]

In [25]:
X_test = test_set.iloc[:,:-1]
y_test = test_set.iloc[:,-1]

In [26]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [27]:
y_probs = clf.predict_proba(X_test)

In [28]:
y_pred

array([1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0])

In [29]:
y_probs[:,0]

array([4.21884749e-15, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 9.99998502e-01, 0.00000000e+00, 1.02512887e-10,
       7.57959029e-10, 9.99998734e-01, 0.00000000e+00, 8.76632100e-13,
       8.88178420e-16, 0.00000000e+00, 0.00000000e+00, 9.99997840e-01,
       0.00000000e+00, 9.99998486e-01, 0.00000000e+00, 9.99998565e-01,
       0.00000000e+00, 3.55271368e-14, 0.00000000e+00, 0.00000000e+00,
       5.31574784e-12, 9.99996976e-01, 1.62092562e-14, 1.53424237e-07,
       3.17523785e-14, 1.07173229e-08, 9.99998566e-01, 2.57571742e-14,
       2.22044605e-16, 9.99998567e-01, 8.07319574e-06, 9.99997859e-01,
       1.53210777e-14, 9.99996320e-01, 3.33066907e-15, 0.00000000e+00,
       9.99998082e-01, 0.00000000e+00, 7.99360578e-15, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.51894758e-08, 9.99998550e-01,
       9.99998674e-01, 3.35287353e-14, 0.00000000e+00, 3.28626015e-14,
       9.99998607e-01, 0.00000000e+00, 9.99997772e-01, 3.89379640e-11,
       9.99997475e-01, 0.00000000e+00, 9.99998580e-01, 0.00000000e+00,
       5.07371922e-13, 0.00000000e+00, 2.22044605e-16, 3.04905878e-10,
       0.00000000e+00, 9.99998673e-01, 4.17119672e-11, 1.84582061e-05,
       9.99998375e-01, 9.99997880e-01, 0.00000000e+00, 9.99997967e-01,
       0.00000000e+00, 0.00000000e+00, 9.99998775e-01, 9.99998441e-01,
       0.00000000e+00, 9.99998475e-01, 9.99998324e-01, 0.00000000e+00,
       9.99998671e-01, 1.17308385e-11, 9.99998014e-01, 6.08402217e-14,
       9.99998402e-01, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       9.99998126e-01, 9.99998420e-01, 5.09492049e-09, 4.52595073e-10,
       6.53255228e-13, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 7.10542736e-15, 9.99998408e-01, 8.88178420e-16,
       9.99998785e-01, 0.00000000e+00, 9.99998041e-01, 0.00000000e+00,
       1.11022302e-15, 0.00000000e+00, 7.31636973e-13, 0.00000000e+00,
       0.00000000e+00, 8.43769499e-15, 0.00000000e+00, 2.61292321e-10,
       0.00000000e+00, 2.44249065e-15, 2.99927168e-08, 0.00000000e+00,
       9.99998515e-01, 0.00000000e+00, 9.09716746e-13, 9.99998793e-01,
       6.88338275e-15, 9.99998612e-01, 9.99998393e-01, 0.00000000e+00,
       0.00000000e+00, 9.99998491e-01, 9.99998508e-01, 0.00000000e+00,
       0.00000000e+00, 5.61772850e-14, 3.79163367e-12, 9.99998407e-01,
       0.00000000e+00, 9.99998699e-01, 0.00000000e+00, 2.15383267e-14,
       0.00000000e+00, 9.99997528e-01, 0.00000000e+00, 4.21884749e-15,
       2.22044605e-16, 0.00000000e+00, 9.99998536e-01])

In [30]:
# accuracy
true_list = y_test-y_pred == 0
(sum(true_list == 1))/len(true_list == 1)

1.0

In [31]:
train_set.head()

,HMGA1,LIN28A,TERF1,ZFP42,ZSCAN10,HMGA2,SALL4,OTX2,ETV4,NR6A1,...,HES3,ZIC3,NANOG,ZNF93,FOXH1,MYCN,ZNF730,PRDM14,SOX11,label
169,1587.27,1044.94,662.10,126.73,83.94,111.35,112.41,177.76,34.46,80.75,...,126.61,116.01,69.33,71.73,62.34,51.11,45.06,47.76,41.36,1
339,1540.18,634.57,433.43,108.65,176.40,95.04,77.64,60.28,103.57,78.27,...,83.13,88.69,66.72,54.03,51.11,75.56,27.06,22.70,21.30,1
302,533.02,793.22,626.92,89.17,129.40,89.98,54.63,120.68,39.58,37.59,...,75.85,50.21,37.75,42.81,42.80,69.11,30.40,14.46,33.40,1
211,1594.19,875.67,551.73,121.75,124.02,128.75,82.71,87.91,104.45,97.55,...,52.48,37.87,82.76,74.95,45.27,49.29,48.83,19.60,36.43,1
212,2042.22,1054.12,995.06,138.62,134.69,94.38,131.21,169.79,42.00,83.17,...,116.00,107.63,64.40,73.61,84.16,55.10,40.33,90.62,29.92,1

In [40]:
data = '../app/data/'

In [41]:
train_set.to_csv(data+'train_set_v1.csv')

In [42]:
test_set.to_csv(data+'test_set_v1.csv')

In [43]:
pd.Series(y_probs[:,1]).to_csv(data+'class_probs_v1.csv')

In [44]:
test_set_ipsc = test_set[test_set['label']==1]

In [45]:
test_set_ipsc_X = test_set_ipsc.iloc[:,:-1]
ipsc_probs = clf.predict_proba(test_set_ipsc_X)

In [46]:
ipsc_probs

array([[4.21884749e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.02512887e-10, 1.00000000e+00],
       [7.57959029e-10, 9.99999999e-01],
       [0.00000000e+00, 1.00000000e+00],
       [8.76632100e-13, 1.00000000e+00],
       [8.88178420e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.55271368e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [5.31574784e-12, 1.00000000e+00],
       [1.62092562e-14, 1.00000000e+00],
       [1.53424237e-07, 9.99999847e-01],
       [3.17523785e-14, 1.00000000e+00],
       [1.07173229e-08, 9.99999989e-01],
       [2.57571742e-14, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [8.07319574e-06, 9.99991927e-01],
       [1.53210777e-14, 1.00000000e+00],
       [3.33066907e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [7.99360578e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.51894758e-08, 9.99999975e-01],
       [3.35287353e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.28626015e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [3.89379640e-11, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [5.07371922e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [3.04905878e-10, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [4.17119672e-11, 1.00000000e+00],
       [1.84582061e-05, 9.99981542e-01],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.17308385e-11, 1.00000000e+00],
       [6.08402217e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [5.09492049e-09, 9.99999995e-01],
       [4.52595073e-10, 1.00000000e+00],
       [6.53255228e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [7.10542736e-15, 1.00000000e+00],
       [8.88178420e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.11022302e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [7.31636973e-13, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [8.43769499e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.61292321e-10, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.44249065e-15, 1.00000000e+00],
       [2.99927168e-08, 9.99999970e-01],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [9.09716746e-13, 1.00000000e+00],
       [6.88338275e-15, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [5.61772850e-14, 1.00000000e+00],
       [3.79163367e-12, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [2.15383267e-14, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [4.21884749e-15, 1.00000000e+00],
       [2.22044605e-16, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00]])

In [47]:
pd.Series(ipsc_probs[:,1]).to_csv(data+'class_probs_v1.csv')

In [48]:
probs = pd.read_csv(data+'class_probs_v1.csv',header=None)
new_row = pd.DataFrame([[0, 0.99999999999999]])
probs = probs.append(new_row)
probs['percentile'] = probs[1].rank(pct = True)
probs['percentile'].iloc[-1]

0.32673267326732675